* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#select-month {
  margin: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#select-month .month-name {
  text-transform: uppercase;
  font-size: 20px;
}

#select-month .prev,
#select-month .next {
  background-color: red;
  padding: 10px;
  border-radius: 5px;
}

#select-month .prev:hover,
#select-month .next:hover {
  cursor: pointer;
}

#calendar {
  margin: 50px;
  text-align: center;
}

.holiday {
  color: red;
}

#calendar ul {

  display: flex;
  flex-wrap: wrap;
}

#calendar li {
  list-style-type: none;
  width: calc(100% / 7);
  height: 120px;
  border: 1px solid black;
  padding: 5px;
}