* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#select-month {
  margin: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#select-month .month-name {
  text-transform: uppercase;
  font-size: 20px;
}

#select-month .prev,
#select-month .next {
  background-color: red;
  padding: 10px;
}

#select-month .prev:hover,
#select-month .next:hover {
  cursor: pointer;
}

#calendar {
  margin: 25px;
  text-align: center;
}

.holiday {
  color: red;
}